{% extends 'template/master.html.twig' %}

{% set title = "Produtos" %}

{% block master %}
    <!-- .container -->
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-0" style="margin-top: -3%;">Formulário cadastro de cores!</h1>
                            </div>
                            <form id="formCreate" class="user" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="description">Descrição</label>
                                    <input type="text" class="form-control"
                                           id="description" name="description" placeholder="Digite a descrição" value="123">
                                </div>
                                <div class="form-group">
                                    <label for="reference">Ref</label>
                                    <input type="text" class="form-control"
                                           id="reference" name="reference" placeholder="Digite a referencia" value="123">
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantidade</label>
                                    <input type="number" class="form-control select2-container"
                                           id="quantity" name="quantity" placeholder="Digite a quantidade" min="1" value="1" />
                                </div>
                                <div class="form-group">
                                    <label for="priceBuy">Preço de compra</label>
                                    <input type="text" class="form-control money"
                                            id="priceBuy" name="priceBuy" value="123" />

                                </div>
                                <div class="form-group">
                                    <label for="priceSale">Preço de venda</label>
                                    <input type="text" class="form-control money"
                                            id="priceSale" name="priceSale" value="123" />
                                </div>
                                <div class="form-group">
                                    <label for="brand">Marca</label>
                                    <select class="form-control select2-container"
                                            id="brand" name="brand">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sizeProduct">Tamanho</label>
                                    <select class="form-control select2-container"
                                            id="sizeProduct" name="sizeProduct">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="color">Cor</label>
                                    <select class="form-control select2-container"
                                            id="color" name="color">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input id="photoProduct" name="photoProduct[]" type="file" multiple>
                                </div>
                                <br>
                                <button id="btnSubmit" class="btn btn-primary btn-block">
                                    Cadastrar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="margin-top: -3%;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listagem de cores</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="products" class="table table-bordered table-striped"
                           style="width: 100%; border-spacing: 0;">
                        <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Referência</th>
                            <th style="width: 15%;">Valor</th>
                            <th>Quantidade</th>
                            <th style="width: 25%;">Marca</th>
                            <th style="width: 13%;">Detalhes</th>
                            <th style="width: 10%;">Editar</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- Update Modal-->
        <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="col-12 modal-title modal-title text-center" id="updateModalLabel">Detalhes da cor</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="p-5">
                            <form id="formUpdate" class="user" method="post">
                                <div class="form-group">
                                    <input type="hidden" id="update-id" name="id">
                                    <label for="update-description">Descrição</label>
                                    <input type="text" class="form-control"
                                           id="update-description" name="description" placeholder="Descrição da cor" required>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button id="btn-update" class="btn btn-primary" type="button" data-dismiss="modal">Editar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/js/custom/product.js"></script>
    <script>
        $(document).ready(function () {
            product.index();
        });
    </script>
{% endblock %}