<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<style>
    body {
        background: #2a3f54 !important;
        margin-top: 2px;
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
        line-height: 1.5;
        color: white;
        text-transform: uppercase !important;
    }
</style>
<body>
<br><br><br>
<h1 align="center">PÁGINA NÃO ENCONTRADA!</h1>
<br>
<h2 align="center">ERRO 404</h2>
</body>
</html>
