
<footer class="footer">
    <div class="footer-wrap bg-white pd-20 mb-20 border-radius-5 box-shadow">
        copyright &copy;2019 Ltda. Todos os direitos reservados. <a href="#" target="_blank">Adriano Ribeiro</a>
    </div>
</footer>