<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if title is defined %} {{ title }}{% endif %}</title>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" type="text/css" href="/components/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/components/fonts-googleapis/family-nunito.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/sb-admin-2.min.css">

    <!-- select2 -->
    <link rel="stylesheet" type="text/css" href="/components/select2/dist/css/select2.min.css">

    <!-- datatables -->
    <link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/components/datatables/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/components/toastr/toastr.css">
    <link rel="stylesheet" type="text/css" href="/components/bootstrap-fileinput/css/fileinput.min.css">


</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'template/sidebar.html.twig' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'template/navbar.html.twig' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            {% block master %}{% endblock %}
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/components/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript -->
<script type="text/javascript" src="/components/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages -->
<script type="text/javascript" src="/assets/scripts/sb-admin-2.min.js"></script>

<!-- jquery validation -->
<script type="text/javascript" src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/components/jquery-validation/dist/additional-methods.min.js"></script>
<script type="text/javascript" src="/components/jquery-validation/dist/validationTranslate.js"></script>

<!-- Page level plugins -->
{#<script type="text/javascript" src="/components/chart.js/Chart.min.js"></script>#}

<!-- Page level plugins -->
<script type="text/javascript" src="/components/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/components/datatables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/components/jquery/jquery.maskMoney.min.js"></script>
<script type="text/javascript" src="/components/toastr/toastr.js"></script>
<script type="text/javascript" src="/components/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/components/select2/dist/js/i18n/pt-BR.js"></script>
<!-- bootstrap fileinput -->
<script type="text/javascript" src="/components/bootstrap-fileinput/js/plugins/piexif.js"></script>
<script type="text/javascript" src="/components/bootstrap-fileinput/js/plugins/sortable.js"></script>
<script type="text/javascript" src="/components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" src="/components/bootstrap-fileinput/js/locales/pt-BR.js"></script>
<script type="text/javascript" src="/components/bootstrap-fileinput/themes/fas/theme.js"></script>
<script type="text/javascript" src="/components/bootstrap-fileinput/themes/explorer-fas/theme.js"></script>

<!-- Page level custom scripts -->
<script type="text/javascript" src="/assets/scripts/demo/datatables-demo.js"></script>

<!-- Page level custom scripts -->
{#<script type="text/javascript" src="/assets/scripts/demo/chart-area-demo.js"></script>#}
{#<script type="text/javascript" src="/assets/scripts/demo/chart-pie-demo.js"></script>#}
{#<script type="text/javascript" src="/assets/scripts/demo/chart-bar-demo.js"></script>#}

<!-- custom  -->
<script type="text/javascript" src="/assets/js/custom/tool.js"></script>
<script type="text/javascript" src="/assets/js/custom/uri.js"></script>
<script>
    $(document).ready(function () {
        tool.money();
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
