{% extends 'template/master.html.twig' %}

{% set title = "Cadastro de marcas" %}

{% block master %}
    <!-- .container -->
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-0" style="margin-top: -3%;">Formulário cadastro de marcas!</h1>
                            </div>
                            <form id="formCreate" class="user" method="post">
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <input type="text" class="form-control"
                                           id="name" name="name" placeholder="Digite o nome" required>
                                </div>
                                <div class="form-group">
                                    <label for="nameFantasy">Nome Fantasia</label>
                                    <input type="text" class="form-control"
                                           id="nameFantasy" name="nameFantasy" placeholder="Digite o nome fantasia">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Telefone</label>
                                    <input type="text" class="form-control"
                                           id="phone" name="phone" placeholder="Digite o telefone">
                                </div>
                                <br>
                                <button class="btn btn-primary btn-block">
                                    Cadastrar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="margin-top: -3%;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Listagem de marcas</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="brands" class="table table-bordered table-striped"
                           style="width: 100%; border-spacing: 0;">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Nome fantasia</th>
                            <th>Telefone</th>
                            <th style="width: 10%;">Editar</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


        <!-- Update Modal -->
        <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="col-12 modal-title modal-title text-center" id="updateModalLabel">Detalhes da cor</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="p-5">
                            <form id="formUpdate" class="user" method="post">
                                <input type="hidden" id="update-id" name="id">

                                <div class="form-group">
                                    <label for="update-name">Nome</label>
                                    <input type="text" class="form-control"
                                           id="update-name" name="name" placeholder="Digite o nome" required>
                                </div>

                                <div class="form-group">
                                    <label for="update-nameFantasy">Nome Fantasia</label>
                                    <input type="text" class="form-control"
                                           id="update-nameFantasy" name="nameFantasy" placeholder="Digite o nome fantasia" required>
                                </div>

                                <div class="form-group">
                                    <label for="update-phone">Telefone</label>
                                    <input type="text" class="form-control"
                                           id="update-phone" name="phone" placeholder="Digite o telefone" required>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        <button id="btn-update" class="btn btn-primary" type="button" data-dismiss="modal">Editar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/js/custom/brand.js"></script>
    <script>
        $(document).ready(function () {
            brand.index();
        });
    </script>
{% endblock %}